/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
    background-color:White;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color:#19182580;
    font-size: 14px;
    gap:64px ;

}
.nav-2{
    color:#222831;
}
.nav-1{
    color: #19182580;
}
.div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.left{
    width: 105px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:#222831 ;
}
.rigth{
    width: 115px;
    height: 49px;
    background-color:#5D50C6;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    color:#EEEEEE ;
}
.burger-bar{
    background-color:#5D50C6;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
    display: none;
}
.line{
    background-color:white;
    height: 2px;
    width: 50%;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 3px;
}
.left-div{
   width: 100%;
}
.right-div{
    width:100%;
}
.container{
    max-width: 1184px;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 64px;
}
.h2{
    color:#000000;
    font-size: 69px;
}
.top{
    font-size: 69px;
    color:#F85E9F ;
}
.we{
    font-size: 18px;
    width: 442px;
}
.container-1{
    width:338px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
.get{
    width: 90%;
    border-radius: 100px;
    background-color:#5D50C6 ;
    color: #EEEEEE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    width: 140px;
    height: 49px;
    margin-top: 43px;
}
.watch{
     width: 140px;
    height: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: px;
    margin-top: 43px;
    background-color: #EEEEEE;
    border-radius: 100px;
}
.demno{
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    font-size: 14px;
    color: #000000;

}
.rigth-div{
   width: 774px;
   width: 100%;
}
.div-1{
    width: 100%;
}
.solid{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.solid-1{
    background-color: #5D50C6;
    color: #EEEEEE;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.eroow{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
}
.i-1{
    background-color: #5D50C6;
}
.Explore{
    margin: 0 auto;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1184px;
    width: 90%;
    height:100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 100px;
}
.Top-1{
    width: 100%;
  color: #F85E9F;
  font-size: 23px;
   text-align: left;
}
.top-2{
    width: 100%;
    color: #191825;
    font-size: 44px;
}
.Beach-1{
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    max-width: 1184px;
    width: 90%; 
    gap: 30px;
}
.beach{
    width: 373.33;
    height: 575px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
}
.bea-1{
 margin-top: 40px;
width: 90%;
text-align: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.Paradise{
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.Paradise-1{
    color: #F85E9F;
}
.img{
    text-align: left;
}
.rom{
    font-size: 14px;
    color: #191825BF;
    text-align: left;
    margin-top: 10px;
}
.travel{
    width:871px;
    height: 697px;
}
.travel-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
} 
.travel-5{
 width: 90%;
 -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
         column-gap: 30px;
 width: 441px;
 height:667px;
}
.holiday{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
           column-gap: 30px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.travel-2{
    color: #F85E9F;
    font-size: 23px;
    gap:16px;
}
.travel-3{
    color: #000000;
    font-size: 44px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.travel-4{
    color:#19182580 ;
    font-size: 18px;
}
.tra-2{
    width: 100%;
}
.premium{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
           column-gap: 30px;
}
.hol{  
    padding-top: 30px;
    width: 150px;
    height: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border: 1px solid white;
    background-color: #EEEEEE;
}
.hol-1{
    color: #F85E9F;
}
.Paradise{
    margin-left: 20px;
}
.rom{
    margin-left: 20px;
}
.img{
    margin-left: 20px;
}
.key{
    max-width: 1312px;
    height: 871px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.key-2{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width:1312px;
    height: 187px;
    width: 90%;
   margin-top: 330px;
   margin-left: 26px;
}
.key-3{
    color: #F85E9F;
    font-size: 23px;
    
}
.key-4{
    color: #000000;
    font-size: 44px;
    margin-top: 30px;
}
.key-5{
    color: Grey;
   font-size: 16px;
   margin-top: 30px;
}
.wer-1{
    max-width: 1312px;
    height: 492px;
    width: 90%;
    margin-left: 30px;
}
.we{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1312px;
    width: 90%;
}
.we-3{
    width: 60px;
    height: 60px;;
}
.offer{
    color: #000000;
    font-size:23px ;
}
.lorem{
    color: gray;
    font-size: 18px;
}
.schedule{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1312px;
}
.sche-2{
    width: 60px;
    height: 60px;
}
.sche-3{
    color: #000000;
    font-size: 23px;
}
.sche-4{
    color: gray;
    font-size: 18px;
}
.disco-2{
    width: 60px;
    height: 60px;
}
.disco-3{
    color: #000000;
    font-size: 23px;
}
.disco-4{
    color: gray;
    font-size: 18px;
} 
.conte-2{
    max-width: 1184px;
    height: 434;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
}
.cont-1{
    max-width: 560px;
    width: 90%;
}
.about-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
}
.com-9{
    font-size: 23px;
    color:#191825;
}
@media(max-width: 1024px){
    .navigation{
        display: none;
    }
    .burger-bar{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .header-1{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .div{
        -webkit-box-ordinal-group:4;
            -ms-flex-order:3;
                order:3;
    }
    .container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .left-div{
        width: 100%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .h2{
        font-size: 40px;
    }
    .right-div{
        width: 100%;
    }
    .h2{
        font-size: 56px;
    }
    .top{
        font-size: 56px;
    }
     .Explore{
        margin-top: 100px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .Beach-1{
      width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
    .travel-1{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 896px; 
        height: 1469px;
        width: 90%;
    }
    .hol{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 832px;
        width: 334px;
    }
    .hol-5{
        width: 100%;
    }
    .tra-2{
        width: 100%;
    }
    .key-2{
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width:832px;
    height: 580px;
    width: 100%;
}
.key{
    max-width: 896px;
    height: 871px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
}
.wer-1{
    max-width:896px;
    height: 496px;
    width: 90%;
    margin-left: 30px;
}
.we{
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.conte-2{
    max-width: 897px;
    height: 674;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
}


}
@media (max-width: 500px){
    .right-div{
        width: 100%;
    }
    .logo{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .burger-bar{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .nav{
        display: none;
    }
    .h2{
        font-size: 40px;
        width: 100%;
    }
    .Explore{
        width: 398px;
        height: 169px;
        margin-top: 100px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .Top-1{
        width: 398px;
        height: 19px;
        font-size: 16px;
        text-align: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .top-2{
        font-size: 32px;
        width: 388px;
        height: 72px;
    }
    .solid{
        width: 69px;
        height: 69px;
    }
    .solid-1{
        width: 69px;
        height: 69px;
    }
    .eroow{
        width: 69px;
        height: 69px;
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .container-1{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        height: 200px;
    }
    .get{
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 40px;
    }
    .watch{
        width: 100%;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; 
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .demno{
        padding-left: 130px;
    }
    .logo{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .burger-bar{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
}
.nav{
        display: none;
    }
    .div{
        display: none;
    }
    .Beach-1{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hol{
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     text-align: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
}
.travel-1{
    width: 90%;
    width: 398px;
    height: 1351.49px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.tra-2{
    width: 90%;
}
.holiday{
    margin-left:30px ;
    width: 398px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 16px;
}
.premium{
    width: 398px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 16px;
    margin-left: 30px;
}
 .key{
    height: 905px;
    max-width: 398px;
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.wer-1{
    width:334px;
    height: 886px;
    width: 90%;
    margin-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.we{
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.about-1{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
}
.career{
    display: none;
}
}